<html>

	<table style="text-align: center; cell-collapse: collapse; margin: auto; position: relative; top: 200px; transform: translateY(-50%); ">

		<tr>

			<td colspan="4">

				About
				
				<%= link_to 'Home', root_path %>

			</td>

		</tr>



		<tr>

			<td>

				&nbsp; Thing 1 &nbsp;

			</td>

			<td>

				&nbsp; Thing 2 &nbsp;

			</td>

			<td>

				&nbsp; Thing 3 &nbsp;

			</td>

			<td>

				&nbsp; Thing 4 &nbsp;

			</td>

		</tr>



		<tr>

			<td colspan="2">

				&nbsp; 

					<p>

						Paragraph 1 <br/> about nothing

					</p>

				&nbsp;

			</td>

			<td colspan="2">

				&nbsp; 

					<p>

						Paragraph 2 <br/> about nothing

					</p>

				&nbsp;

			</td>

		</tr>



		<tr>

			<td>

				&nbsp; Footer 1 &nbsp;

			</td>

			<td>

				&nbsp; Phone &nbsp;

			</td>

			<td>

				&nbsp; Email &nbsp;

			</td>

			<td>

				&nbsp; Copyright &nbsp;

			</td>

		</tr>

	</table>

</html>